.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /*body{
    background-color: black;
    color: #ffffff;
  }*/
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 10%;
  }
  
  .middle {
    width: 100%;
  }

  header {
    width: 100%
  }

  /* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}
  
  #tableBody{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  body{
    margin: 1%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .navbar {
    width: 100%;
  }

  h1{
      background-color: #6e6eee;
      color: #ffffff;
      text-align: center;
      padding: 2%;
      display: block;

  }

  h2.alert-heading{
    background-color: #cc8888;
    color: #cc0000;
  }

  #uLabel{
    color: black;
  }

header{
  background: cornflowerblue;
  line-height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.content {
  flex-grow: 1;
}

.full-height {
  height: 100vh;
  /* background: red; */
}

td{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
  /* table-layout: fixed; */
  /* overflow: hidden; */
}

#signHead{
  text-align: center;
  float: center;
}

#expCell{
  background-color: #cc8888;
  color: #000000;

}

#almostExp{
  background-color: #ffcc00;
  color: #000000;

}

#okCell{
  background-color: #66cc66;
  color: #000000;

}

