.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /*body{
    background-color: black;
    color: #ffffff;
  }*/
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 20%;
  }
  
  .middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  h1{
      background-color: #6e6eee;
      color: #ffffff;
      text-align: center;
      padding: 2%;
      display: block;

  }

  #uLabel{
    color: black;
  }

header{
  background: cornflowerblue;
  line-height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}


#signHead{
  text-align: center;
  float: center;
}