.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /*body{
    background-color: black;
    color: #ffffff;
  }*/
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 10%;
  }
  
  .middle {
    width: 100%;
  }

  header {
    width: 100%
  }

  /* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}
  
  #tableBody{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  body{
    margin: 1%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .navbar {
    width: 100%;
  }

  h1{
      background-color: #6e6eee;
      color: #ffffff;
      text-align: center;
      padding: 2%;
      display: block;

  }

  h2.alert-heading{
    background-color: #cc8888;
    color: #cc0000;
  }

  #uLabel{
    color: black;
  }

header{
  background: cornflowerblue;
  line-height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.content {
  flex-grow: 1;
}

.full-height {
  height: 100vh;
  /* background: red; */
}

tr:nth-of-type(odd) { 
  background: #eee; 
}

/* td{
  padding: 0;
  margin: 0;
  overflow: hidden;
} */

table{
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
  /* table-layout: fixed; */
  /* overflow: hidden; */
}

#signHead{
  text-align: center;
  float: center;
  padding: 2px;
}

#expCell{
  background-color: #cc8888;
  color: #000000;

}

#almostExp{
  background-color: #ffcc00;
  color: #000000;

}

#okCell{
  background-color: #66cc66;
  color: #000000;

}



/***********************************
Used for table on mobile**************
https://css-tricks.com/responsive-data-tables/***********/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  img{
    width: 100px;
    height: 80px;
    display: block;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr.item { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr.item { border: 1px solid #ccc; }
	
	td.item { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    padding-left: 200px;
    margin-left: 150px; 
	}
	
	td.item:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 12px;
    left: 6px;
    width: 200px;
		padding-right: 0px; 
    white-space: nowrap;
    margin-left: -150px;
 
	}
	
	/*
	Label the data
	*/
	td.item:nth-of-type(1):before { content: "Item:"; }
	td.item:nth-of-type(2):before { content: "Expires (M/D/Y):"; }
	td.item:nth-of-type(3):before { content: "Bought (M/D/Y):"; }
	td.item:nth-of-type(4):before { content: "#:"; }
	td.item:nth-of-type(5):before { content: "Status:"; }
	td.item:nth-of-type(6):before { content: ""; }
	}